<nav class="navbar navbar-dark navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="#" alt="" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <span>
      <a class="n-link" href="#"><span class="n-accent">01.</span> About</a>
      <a class="n-link" href="#"><span class="n-accent">02.</span> Experience</a>
      <a class="n-link" href="#"><span class="n-accent">03.</span> Work</a>
      <a class="n-link" href="#"><span class="n-accent">04.</span> Contact</a>
      <button type="button" class="btn btn-outline-success">Resume</button>
    </span>
  </div>
</nav>

<!--<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Navbar</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--      <div class="navbar-nav">-->
<!--        <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
